<div id="back">

	<div id="banner">
		<div id="logo" class="float">Logo</div>
		<div id="baslik" class="float">Başlık</div>
		<div id="user" class="float">User</div>
	</div>

	<div id="menu">
		menu
	</div>

	<div id="middle">
		middle
	</div>

	<div id="footer">
		footer
	</div>

</div>