<h1> En Yakın Etkinlikler </h1>
<% @activities.each do |activity| %>
	<p> <% activity.name %> </p>
	<p> <% activity.place_name %> </p>
	<p> Start Date : <% activity.start_date %> 
		Finish Date : <% activity.finish_date %> </p>
<% end %> 